<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.ogm.mongodb" slot="${module-slot.org.hibernate.ogm.short-id}">
    <resources>
        <artifact name="${org.hibernate.ogm:hibernate-ogm-mongodb}" />
        <artifact name="${org.mongodb:mongo-java-driver}" />
    </resources>
    <dependencies>
        <module name="org.hibernate.ogm" slot="${module-slot.org.hibernate.ogm.short-id}" />
        <module name="org.hibernate.commons-annotations"/>
        <module name="org.hibernate.hql" slot="${module-slot.org.hibernate.hql.full-id}" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="org.jboss.logging" />

        <module name="org.hibernate.ogm.internal.parboiled" slot="${module-slot.org.hibernate.ogm.short-id}" />
    </dependencies>
</module>
