<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.ogm.jipijapa" slot="${module-slot.org.hibernate.ogm.jipijapa.full-id}">
    <resources>
        <artifact name="${org.hibernate.ogm:hibernate-ogm-jipijapa}" />
    </resources>
    <dependencies>
        <module name="org.hibernate.orm.jipijapa-hibernate5" slot="${module-slot.org.hibernate.short-id}"/>
        <module name="org.jboss.as.jpa.spi" />
        <module name="org.hibernate" slot="${module-slot.org.hibernate.short-id}" />
    </dependencies>
</module>
