<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.neo4j.internal" slot="${hibernate.ogm.neo4j-internal.module.slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="lucene-core-${neo4jLuceneVersion}.jar"/>
        <resource-root path="neo4j-lucene-index-${neo4jVersion}.jar" />
        <resource-root path="parboiled-scala_2.11-${parboiledVersion}.jar" />
        <resource-root path="scala-parser-combinators_2.11-${scalaParserCombinatorVersion}.jar" />
        <resource-root path="scala-library-${scalaLibraryVersion}.jar" />
        <resource-root path="scala-reflect-${scalaLibraryVersion}.jar" />
        <resource-root path="neo4j-function-${neo4jVersion}.jar" />
        <resource-root path="neo4j-io-${neo4jVersion}.jar" />
        <resource-root path="neo4j-codegen-${neo4jVersion}.jar" />
        <resource-root path="neo4j-logging-${neo4jVersion}.jar" />
        <resource-root path="neo4j-primitive-collections-${neo4jVersion}.jar" />
        <resource-root path="neo4j-unsafe-${neo4jVersion}.jar" />
        <resource-root path="neo4j-cypher-compiler-1.9_2.11-${neo4jCypherCompiler19Version}.jar" />
        <resource-root path="neo4j-cypher-compiler-2.2_2.11-${neo4jCypherCompiler22Version}.jar" />
        <resource-root path="neo4j-cypher-compiler-2.3-${neo4jVersion}.jar" />
        <resource-root path="neo4j-cypher-frontend-2.3-${neo4jVersion}.jar" />
        <resource-root path="concurrentlinkedhashmap-lru-${concurrentlinkedhashmapVersion}.jar" />
        <resource-root path="commons-lang3-${commonsLang3Version}.jar" />
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.parboiled"/>

        <!-- neo4j-lucene-index requires the API in the Kernel -->
        <module name="org.hibernate.ogm.neo4j" slot="${hibernate.ogm.neo4j.module.slot}"/>

        <!-- It requires sun.misc.Unsafe -->
        <module name="sun.jdk" />
    </dependencies>
</module>
