<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.ehcache" slot="${hibernate.ogm.ehcache.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-ehcache-${project.version}.jar" />
        <resource-root path="ehcache-core-${ehcacheVersion}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" export="true" services="import" slot="${hibernate.ogm.module.slot}" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="javax.validation.api" />
        <module name="org.slf4j" />
    </dependencies>
</module>
