<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->

<!-- This alias main purpose is to bring consistency in the build, this way 
    we can use the same property hibernate-search.module.slot for hibernate-search-orm 
    and hibernate-search-engine.

    WildFly 11 ships with Hibernate ORM 5.1 and Hibernate Search 5.5.4, to make it work with OGM 5.1
    we just need to add the Search 5.6.x module. The user can then select these modules
    using the property wildfly.jpa.hibernate.search.module.

    This module is referenced in the org.hibernate.search.orm and the org.hibernate.hql modules. Make
    sure to update them accordingly if you want to remove this alias -->
<module-alias xmlns="urn:jboss:module:1.1"
    name="org.hibernate.search.engine" slot="${hibernate-search.module.slot}"
    target-name="org.hibernate.search.engine" target-slot="${hibernateSearchVersion}" />
