<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.ogm.internal.parboiled" slot="${hibernate.ogm.module.slot}">
    <resources>
        <artifact name="${org.parboiled:parboiled-core}" />
        <artifact name="${org.parboiled:parboiled-java}" />
        <artifact name="${org.ow2.asm:asm}" />
        <artifact name="${org.ow2.asm:asm-tree}" />
        <artifact name="${org.ow2.asm:asm-analysis}" />
        <artifact name="${org.ow2.asm:asm-util}" />
    </resources>
</module>
