<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.redis.driver" slot="${hibernate.ogm.redis.module.slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="lettuce-${lettuceVersion}.jar" />
        <resource-root path="rxjava-${rxjavaVersion}.jar" />
        <resource-root path="LatencyUtils-${latencyUtilsVersion}.jar" />
        <resource-root path="HdrHistogram-${hdrHistogramVersion}.jar" />
        <resource-root path="commons-pool2-${lettuceCommonsPoolVersion}.jar" />
    </resources>
    <dependencies>

        <module name="io.netty" />

        <!-- A dependency for netty -->
        <module name="org.slf4j" />

        <!-- The driver needs to access sun.misc.Unsafe ...-->
        <module name="sun.jdk" />

        <!-- ... and to management API -->
        <module name="javax.api" />

        <!-- use Guava from WildFly, that's nice, because WF9 ships with Guava 18 -->
        <module name="com.google.guava" />
    </dependencies>
</module>
