<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.neo4j" slot="${hibernate.ogm.neo4j.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-neo4j-${project.version}.jar" />
        <resource-root path="neo4j-${neo4jVersion}.jar" />
        <resource-root path="neo4j-cypher-${neo4jVersion}.jar" />
        <resource-root path="neo4j-cypher-commons-${neo4jVersion}.jar" />
        <resource-root path="neo4j-cypher-compiler-1.9-${neo4jCypherCompilerOlderVersion}.jar" />
        <resource-root path="neo4j-cypher-compiler-2.0-${neo4jCypherCompilerOlderVersion}.jar" />
        <resource-root path="neo4j-cypher-compiler-2.1-${neo4jVersion}.jar" />
        <resource-root path="neo4j-lucene-index-${neo4jVersion}.jar" />
        <resource-root path="neo4j-kernel-${neo4jVersion}.jar" />
        <resource-root path="neo4j-udc-${neo4jVersion}.jar" />
        <resource-root path="neo4j-graph-algo-${neo4jVersion}.jar" />
        <resource-root path="neo4j-graph-matching-${neo4jVersion}.jar" />
        <resource-root path="neo4j-jmx-${neo4jVersion}.jar" />
        <resource-root path="parboiled-scala_2.10-${parboiledVersion}.jar" />
        <resource-root path="scala-library-${scalaLibraryVersion}.jar" />
        <resource-root path="neo4j-primitive-collections-${neo4jVersion}.jar" />
        <resource-root path="concurrentlinkedhashmap-lru-${concurrentlinkedhashmapVersion}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" export="true" services="import" slot="${hibernate.ogm.module.slot}" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="javax.validation.api" />
        <module name="org.apache.lucene" />
        <module name="org.jboss.logging" />
        <module name="org.parboiled" />
    </dependencies>
</module>
