<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.jipijapa" slot="${hibernate.ogm.jipijapa.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-jipijapa-${project.version}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate.jipijapa-hibernate5" slot="${hibernate-orm.module.slot}"/>
        <module name="org.jboss.as.jpa.spi" />
        <module name="org.hibernate" slot="${hibernate-orm.module.slot}" />
    </dependencies>
</module>
