<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.couchdb" slot="${hibernate.ogm.couchdb.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-couchdb-${project.version}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" export="true" services="import" slot="${hibernate.ogm.module.slot}" />
        <module name="javax.ws.rs.api" />
        <module name="javax.persistence.api" />
        <module name="org.jboss.resteasy.resteasy-jackson2-provider" />
        <module name="org.jboss.resteasy.resteasy-jaxrs" />
        <module name="org.jboss.logging" />
    </dependencies>
</module>
