<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate" slot="${hibernate.ogm.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-core-${project.version}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" export="true" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.hibernate.hql" slot="${hibernate.hql.module.slot}" />
        <module name="org.hibernate.search.orm" slot="${hibernate-search.module.slot}" optional="true" />

        <module name="javax.persistence.api" />
        <module name="javax.transaction.api" />
        <module name="org.jboss.logging" />

        <!-- Allow Hibernate ORM to load com.arjuna.ats.jta.TransactionManager -->
        <module name="org.jboss.jts" export="true" />
    </dependencies>
</module>
