<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate" slot="${hibernate.ogm.module.slot}">
    <resources>
        <resource-root path="hibernate-ogm-core-${project.version}.jar" />
        <resource-root path="hibernate-ogm-infinispan-${project.version}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate" slot="${hibernateVersion}" export="true" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.hibernate.hql" slot="${hibernate.hql.module.slot}" export="true" services="export" optional="true" />
        <module name="org.hibernate.search.orm" slot="${hibernateSearchVersion}-orm-${hibernateVersion}" export="true" services="export" optional="false" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <!-- Exporting as one of its types is exposed via Log which is extended in other modules -->
        <module name="javax.transaction.api" export="true" />
        <module name="javax.validation.api" />
        <module name="org.dom4j" />
        <module name="org.infinispan" services="export" export="true" optional="true" />
        <module name="org.infinispan.commons" optional="true" />
        <module name="org.jboss.as.jpa.hibernate" slot="4" optional="true" />
        <module name="org.jboss.logging" />

        <!-- Allow Hibernate ORM to load com.arjuna.ats.jta.TransactionManager -->
        <module name="org.jboss.jts" export="true" />
    </dependencies>
</module>
