<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="javax.ws.rs.api">
    <resources>
        <resource-root path="jaxrs-api-3.0.6.Final.jar"/>
    </resources>

    <dependencies>
        <module name="javax.xml.bind.api" />
        <module name="javax.api" />
    </dependencies>
</module>
