<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.ogm.cassandra.driver" slot="${hibernate.ogm.cassandra.module.slot}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="cassandra-driver-core-${cassandraVersion}.jar" />
        <resource-root path="netty-${nettyVersion}.jar" />
        <resource-root path="metrics-core-${codahaleMetricsVersion}.jar" />
        <resource-root path="guava-${cassandraGuavaVersion}.jar" />
    </resources>
    <dependencies>

        <!-- A dependency for metrics-core -->
        <module name="org.slf4j" />

        <!-- The driver needs to access sun.misc.Unsafe ...-->
        <module name="sun.jdk" />

        <!-- ... and to management API -->
        <module name="javax.api" />
    </dependencies>
</module>
