<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate" slot="ogm">
    <resources>
        <resource-root path="hibernate-ogm-core-${project.version}.jar" />
        <resource-root path="hibernate-ogm-infinispan-${project.version}.jar" />
        <resource-root path="hibernate-core-${hibernateVersion}.jar" />
        <resource-root path="hibernate-entitymanager-${hibernateVersion}.jar" />
        <resource-root path="hibernate-hql-lucene-${hibernateParserVersion}.jar" />
        <resource-root path="hibernate-hql-parser-${hibernateParserVersion}.jar" />
        <resource-root path="hibernate-commons-annotations-${hibernateCommonsAnnotationsVersion}.jar" />
        <resource-root path="hibernate-search-engine-${hibernateSearchVersion}.jar" />
        <resource-root path="hibernate-search-orm-${hibernateSearchVersion}.jar" />
        <resource-root path="hibernate-search-infinispan-${hibernateSearchVersion}.jar" />
        <resource-root path="infinispan-lucene-directory-${infinispanVersion}.jar" />
        <resource-root path="infinispan-core-${infinispanVersion}.jar" />
        <resource-root path="infinispan-commons-${infinispanVersion}.jar" />
        <resource-root path="jandex-1.1.0.Final.jar" />
        <resource-root path="jboss-marshalling-1.3.18.GA.jar" />
        <resource-root path="jboss-marshalling-river-1.3.18.GA.jar" />
        <resource-root path="jgroups-3.4.1.Final.jar" />
        <resource-root path="antlr-2.7.7.jar" />
        <resource-root path="antlr-runtime-3.4.jar" />
        <resource-root path="lucene-core-${luceneVersion}.jar"/>
        <resource-root path="lucene-facet-${luceneVersion}.jar"/>
    </resources>
    <dependencies>
        <module name="org.hibernate.search.orm" export="true" services="export" optional="true" />
        <module name="org.slf4j" />
        <module name="org.javassist" />

        <module name="sun.jdk" />

        <module name="javax.api" />
        <module name="javax.persistence.api" />
        <!-- Exporting as one of its types is exposed via Log which is extended
            in other modules -->
        <module name="javax.transaction.api" export="true" />
        <module name="javax.validation.api" />
        <module name="org.dom4j" />
        <module name="org.infinispan" services="export" export="true" optional="true" slot="${infinispan.module.slot}" />
        <module name="org.infinispan.commons" optional="true" slot="${infinispan.module.slot}" />
        <module name="org.jboss.logging" />

        <!-- Allow Hibernate ORM to load com.arjuna.ats.jta.TransactionManager -->
        <module name="org.jboss.jts" export="true" />
    </dependencies>
</module>
