<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate OGM, Domain model persistence for NoSQL datastores
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module-alias xmlns="urn:jboss:module:1.1"
    name="org.hibernate.ogm.infinispan-remote" slot="main"
    target-name="org.hibernate.ogm.infinispan-remote" target-slot="${hibernate.ogm.infinispan-remote.module.slot}" />
