<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (C) GridGain Systems. All Rights Reserved.
    _________        _____ __________________        _____
    __  ____/___________(_)______  /__  ____/______ ____(_)_______
    _  / __  __  ___/__  / _  __  / _  / __  _  __ `/__  / __  __ \
    / /_/ /  _  /    _  /  / /_/ /  / /_/ /  / /_/ / _  /  _  / / /
    \____/   /_/     /_/   \_,__/   \____/   \__,_/  /_/   /_/ /_/
-->

<!--
    GridGain Spring configuration file to startup node with cache that will be used as
    a client to put and get data.

    When starting a standalone node, you need to execute the following command:
    {IGNITE_HOME}/bin/ignite.{bat|sh} {GRIDGAIN_HOME}/examples/config/example-client.xml

    When starting Ignite from Java IDE, set IGNITE_HOME variable referring to GridGain module location and
    pass the path to this file to Ignition:
    Ignition.start("examples/config/example-client.xml");
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="org.apache.ignite.configuration.IgniteConfiguration">
        <!-- Set to true to enable grid-aware class loading for examples, default is false. -->
        <property name="peerClassLoadingEnabled" value="true"/>

        <!-- Set to true so that cache data will not be stored on this node. -->
		<property name="clientMode" value="false"/>
        
        <!-- Portable marshaller configuration -->
        <property name="marshaller">
            <bean class="org.apache.ignite.internal.binary.BinaryMarshaller" />
<!--              
			<bean class="org.gridgain.grid.marshaller.portable.PortableMarshaller" />	!!!!  for GG 7.4.1
            <bean class="org.apache.ignite.internal.binary.BinaryMarshaller" />   		!!!!  for GG 7.5.1-final
            <bean class="org.apache.ignite.internal.portable.BinaryMarshaller" /> 		!!!!  for GG 7.5.1-b1
-->
        </property>
        
        <!-- Explicitly configure TCP discovery SPI to provide list of initial nodes. -->
        <property name="discoverySpi">
            <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
                <property name="ipFinder">
                    <!-- Uncomment static IP finder to enable static-based discovery of initial nodes. -->
                    <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.vm.TcpDiscoveryVmIpFinder">
                    <!--<bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.multicast.TcpDiscoveryMulticastIpFinder">-->
                        <property name="addresses">
                            <list>
                                <!-- In distributed environment, replace with actual host IP address. -->
                                <value>127.0.0.1:47500..47509</value>
                            </list>
                        </property>
                    </bean>
                </property>
            </bean>
        </property>
        
		<property name="cacheConfiguration">
			<list>
<!-- SequenceIdGeneratorTest  -->
				<bean id="Song" parent="cache-template">
					<property name="name" value="Song" />
				</bean>
				<bean id="Actor" parent="cache-template">
					<property name="name" value="Actor" />
				</bean>
				<!-- For test JPAResourceLocalTest -->
				<bean id="Poem" parent="cache-template">
					<property name="name" value="Poem" />
				</bean>
<!-- For test ManyToManyTest -->
				<bean id="Car" parent="cache-template">
					<property name="name" value="Car" />
				</bean>
				<bean id="Tire" parent="cache-template">
					<property name="name" value="Tire" />
				</bean>
				<bean id="Car_Tire" parent="cache-template">
					<property name="name" value="Car_Tire" />
				</bean>
				<bean id="AccountOwner" parent="cache-template">
					<property name="name" value="AccountOwner" />
				</bean>
				<bean id="BankAccount" parent="cache-template">
					<property name="name" value="BankAccount" />
				</bean>
				<bean id="AccountOwner_BankAccount" parent="cache-template">
					<property name="name" value="AccountOwner_BankAccount" />
				</bean>
<!-- For test ListTest -->
				<bean id="Child" parent="cache-template">
					<property name="name" value="Child" />
				</bean>
				<bean id="Father" parent="cache-template">
					<property name="name" value="Father" />
				</bean>
				<bean id="Father_child" parent="cache-template">
					<property name="name" value="Father_child" />
				</bean>
				<bean id="GrandChild" parent="cache-template">
					<property name="name" value="GrandChild" />
				</bean>
				<bean id="GrandMother" parent="cache-template">
					<property name="name" value="GrandMother" />
				</bean>
				<bean id="GrandMother_grandChildren" parent="cache-template">
					<property name="name" value="GrandMother_grandChildren" />
				</bean>
				<bean id="Race" parent="cache-template">
					<property name="name" value="Race" />
				</bean>
				<bean id="Runner" parent="cache-template">
					<property name="name" value="Runner" />
				</bean>
				<bean id="Race_Runners" parent="cache-template">
					<property name="name" value="Race_Runners" />
				</bean>
<!-- For test ManyToManyExtraTest -->
				<bean id="Student" parent="cache-template">
					<property name="name" value="Student" />
				</bean>
				<bean id="ClassRoom" parent="cache-template">
					<property name="name" value="ClassRoom" />
				</bean>
				<bean id="ClassRoom_Student" parent="cache-template">
					<property name="name" value="ClassRoom_Student" />
				</bean>
<!-- For test MapTest -->
				<bean id="User" parent="cache-template">
					<property name="name" value="User" />
				</bean>
				<bean id="Address" parent="cache-template">
					<property name="name" value="Address" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Address" />
								<property name="queryFields">
									<map>
										<entry key="street" value="java.lang.String" />
										<entry key="city" value="java.lang.String" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="id" value="java.lang.Object" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean id="User_Address" parent="cache-template">
					<property name="name" value="User_Address" />
				</bean>
				<bean id="Nicks" parent="cache-template">
					<property name="name" value="Nicks" />
				</bean>
<!-- For test CollectionUnidirectionalTest -->
				<bean id="Cloud" parent="cache-template">
					<property name="name" value="Cloud" />
				</bean>
				<bean id="SnowFlake" parent="cache-template">
					<property name="name" value="SnowFlake" />
				</bean>
				<bean id="joinProducedSnowflakes" parent="cache-template">
					<property name="name" value="joinProducedSnowflakes" />
				</bean>
				<bean id="joinBackupSnowflakes" parent="cache-template">
					<property name="name" value="joinBackupSnowflakes" />
				</bean>
<!-- For test ReferencedCompositeIdTest -->
				<bean id="Director" parent="cache-template">
					<property name="name" value="Director" />
				</bean>
				<bean id="Tournament" parent="cache-template">
					<property name="name" value="Tournament" />
				</bean>
				<bean id="Director_Tournament" parent="cache-template">
					<property name="name" value="Director_Tournament" />
				</bean>
<!-- For test ManyToOneExtraTest -->
				<bean id="Basket" parent="cache-template">
					<property name="name" value="Basket" />
				</bean>
				<bean id="Product" parent="cache-template">
					<property name="name" value="Product" />
				</bean>
				<bean id="Basket_Product" parent="cache-template">
					<property name="name" value="Basket_Product" />
				</bean>
<!-- For test ManyToOneTest -->
				<bean id="JUG" parent="cache-template">
					<property name="name" value="JUG" />
				</bean>
				<bean id="Member" parent="cache-template">
					<property name="name" value="Member" />
				</bean>
				<bean id="SalesForce" parent="cache-template">
					<property name="name" value="SalesForce" />
				</bean>
				<bean id="SalesGuy" parent="cache-template">
					<property name="name" value="SalesGuy" />
				</bean>
				<bean id="Beer" parent="cache-template">
					<property name="name" value="Beer" />
				</bean>
				<bean id="Brewery" parent="cache-template">
					<property name="name" value="Brewery" />
				</bean>
				<bean id="Game" parent="cache-template">
					<property name="name" value="Game" />
				</bean>
				<bean id="Court" parent="cache-template">
					<property name="name" value="Court" />
				</bean>
<!-- For test OneToOneTest -->
				<bean id="Horse" parent="cache-template">
					<property name="name" value="Horse" />
				</bean>
				<bean id="Cavalier" parent="cache-template">
					<property name="name" value="Cavalier" />
				</bean>
				<bean id="Vehicule" parent="cache-template">
					<property name="name" value="Vehicule" />
				</bean>
				<bean id="Wheel" parent="cache-template">
					<property name="name" value="Wheel" />
				</bean>
				<bean id="Husband" parent="cache-template">
					<property name="name" value="Husband" />
				</bean>
				<bean id="Wife" parent="cache-template">
					<property name="name" value="Wife" />
				</bean>
<!-- For test CompositeIdTest -->
				<bean id="News" parent="cache-template">
					<property name="name" value="News" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="News" />
								<property name="queryFields">
									<map>
										<entry key="content" value="java.lang.String" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="newsId" value="java.lang.Object" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean id="Label" parent="cache-template">
					<property name="name" value="Label" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Label" />
							</bean>
						</list>
					</property>
				</bean>
				<bean id="News_Label" parent="cache-template">
					<property name="name" value="News_Label" />
				</bean>
<!-- For test AutoIdGeneratorWithSessionTest -->
				<bean id="DistributedRevisionControl" parent="cache-template">
					<property name="name" value="DistributedRevisionControl" />
				</bean>
<!-- For test TableIdGeneratorTest -->
				<bean id="Music" parent="cache-template">
					<property name="name" value="Music" />
				</bean>
				<bean id="Video" parent="cache-template">
					<property name="name" value="Video" />
				</bean>
				<bean id="Composer" parent="cache-template">
					<property name="name" value="Composer" />
				</bean>
<!-- For test EmbeddableExtraTest -->
				<bean id="MultiAddressAccount" parent="cache-template">
					<property name="name" value="MultiAddressAccount" />
				</bean>
				<bean id="AccountWithPhone" parent="cache-template">
					<property name="name" value="AccountWithPhone" />
				</bean>
				<bean id="Order" parent="cache-template">
					<property name="name" value="Order" />
				</bean>
				<bean id="AccountWithPhone_phoneNumber" parent="cache-template">
					<property name="name" value="AccountWithPhone_phoneNumber" />
				</bean>
				<bean id="MultiAddressAccount_addresses" parent="cache-template">
					<property name="name" value="MultiAddressAccount_addresses" />
				</bean>
				<bean id="Order_shippingAddress" parent="cache-template">
					<property name="name" value="Order_shippingAddress" />
				</bean>
<!-- For test SharedPrimaryKeyTest -->
				<bean id="CoffeeMug" parent="cache-template">
					<property name="name" value="CoffeeMug" />
				</bean>
				<bean id="Lid" parent="cache-template">
					<property name="name" value="Lid" />
				</bean>
<!-- For test JPAPolymorphicCollectionTest -->
				<bean id="Hero" parent="cache-template">
					<property name="name" value="Hero" />
				</bean>
				<bean id="SuperHero" parent="cache-template">
					<property name="name" value="SuperHero" />
				</bean>
				<bean id="HeroClub" parent="cache-template">
					<property name="name" value="HeroClub" />
				</bean>
				<bean id="HeroClub_Hero" parent="cache-template">
					<property name="name" value="HeroClub_Hero" />
				</bean>
<!-- For test JPATablePerClassFindTest -->
				<bean id="CommunityMember" parent="cache-template">
					<property name="name" value="CommunityMember" />
				</bean>
				<bean id="Employee" parent="cache-template">
					<property name="name" value="Employee" />
				</bean>
<!-- For test InnerClassFindTest -->
				<bean id="employee" parent="cache-template">
					<property name="name" value="employee" />
				</bean>
<!-- For test SimpleQueriesTest -->
				<bean id="Hypothesis" parent="cache-template">
					<property name="name" value="Hypothesis" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Hypothesis" />
								<property name="queryFields">
									<map>
										<entry key="description" value="java.lang.String" />
										<entry key="pos" value="java.lang.Integer" />
										<entry key="date" value="java.util.Date" />
										<entry key="author_id" value="java.lang.Long" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="id" value="java.lang.String" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean id="Helicopter" parent="cache-template">
					<property name="name" value="Helicopter" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Helicopter" />
								<property name="queryFields">
									<map>
										<entry key="helicopterName" value="java.lang.String" />
										<entry key="make" value="java.lang.String" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="uuid" value="java.lang.String" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				<bean id="Author" parent="cache-template">
					<property name="name" value="Author" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Author" />
								<property name="queryFields">
									<map>
										<entry key="address_id" value="java.lang.Long" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="id" value="java.lang.Long" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
<!-- For test QueriesWithEmbeddedTest -->
				<bean id="StoryGame" parent="cache-template">
					<property name="name" value="StoryGame" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="StoryGame" />
								<property name="queryFields">
									<map>
										<entry key="storyText" value="java.lang.String" />
										<entry key="evilText" value="java.lang.String" />
										<entry key="goodText" value="java.lang.String" />
										<entry key="text" value="java.lang.String" />
										<entry key="score" value="java.lang.Integer" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="id" value="java.lang.Long" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
				
								
				<!-- For test IgniteTest -->
				<bean id="Client" parent="cache-template">
					<property name="name" value="Client" />
					<property name="typeMetadata">
						<list>
							<bean class="org.apache.ignite.cache.CacheTypeMetadata">
								<property name="valueType" value="Client" />
								<property name="keyType" value="String" />
								<property name="queryFields">
									<map>
										<entry key="NAME_" value="java.lang.String" />
										<entry key="INFO" value="java.lang.String" />
									</map>
								</property>
								<property name="ascendingFields">
									<map>
										<entry key="ID" value="java.lang.String" />
									</map>
								</property>
							</bean>
						</list>
					</property>
				</bean>
			</list>
		</property>

    </bean>

	<bean id="cache-template" abstract="true" class="org.apache.ignite.configuration.CacheConfiguration">
		<property name="atomicityMode"	value="TRANSACTIONAL"/>
		<property name="cacheMode"		value="PARTITIONED" />
		<property name="startSize"		value="10" />
<!-- 
		<property name="memoryMode"		value="OFFHEAP_TIERED" />
		<property name="offHeapMaxMemory"		value="1000000" /> 
		<property name="swapEnabled"		value="TRUE"/>
 -->
		<property name="affinity">
			<bean class="org.apache.ignite.cache.affinity.rendezvous.RendezvousAffinityFunction">
				<property name="partitions" value="10" />
			</bean>
		</property>
	</bean>
</beans>
